/* FLEXBOX */

.padreFlex {
    background-color: bisque;
    border: 3px solid black;
    width: 800px;
    height: 600px;
    border-radius: 4px;
    margin: auto;

    /* TRABAJAMOS EN EL CONTENEDOR PADRE */

    display: flex;
    
    /* flex-direction: me permite indicar en que direccion acomodan a los item hijos */

    /* row: fila */
    /* column: columna */

    /* flex-wrap: wrap; */
    /* me permite decirle al sistema que los elemntos sean multilinea */

    /* flex-flow: column nowrap; */
    /* es una forma abreviada de las ultimas propiedades */

    /* JUSTIFY-CONTENT: Si flex-direction es row ordeno en el eje orizontal */

    justify-content: center;
    /* valores mas utilizados: center, flex-end, flex:start y los space */

    /* ALING - ITEMS: Si flex-direction es row, ordeno en el eje vertical */

    align-items: center;

    /* ALING-CONTENT: lo utilizamos para posicionar item hijos multilinea */



}

.hijoFlex {
    background-color: chocolate;
    height: 150px;
    width: 150px;
    border: 1px dotted black;
    border-radius: 5px;
}

.hijoFlex p {
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

/* TRABAJAMOS CON LOS ITEMS HIJOS */\

.primero {
    order: 3;
}

.segundo {
    order: 2;
}

.tercero {
    order: 1;
}